# Configuración de la librería Core Identity

# El token de API que autoriza el uso de la librería (OBLIGATORIO)
# Puedes usar cualquiera de los dos nombres:
VITE_API_TOKEN=tu_token_de_seguridad_proporcionado_por_prism
# API_TOKEN=tu_token_de_seguridad_proporcionado_por_prism
