# Dependencias
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Producción / Build
# Nota: Si vas a publicar la librería en npm, dist se suele ignorar en Git.
# Pero si vas a instalarla directamente desde GitHub, deja dist fuera de aquí.
# Por seguridad y buenas prácticas, lo ideal es ignorarlo y construirlo en el CI/CD.
#dist/

# Archivos de entorno (SECRETOS)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

# Temporales de editores
.vscode/
.idea/
*.swp
*.swo
.gemini/
